<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kitchensink</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" th:href="@{/css/screen.css}" />
</head>
<body>
    <div id="container">
        <div class="dualbrand">
            <img th:src="@{/images/rhjb_eap_logo.png}" width="300" height="175" />
        </div>
        <div id="content">
            <h1>Welcome to JBoss!</h1>

            <div>
                <p>You have successfully deployed a Spring Boot Enterprise Application.</p>
            </div>

            <div th:if="${message}" class="messages valid" th:text="${message}"></div>
            <div th:if="${error}" class="messages invalid" th:text="${error}"></div>

            <form th:action="@{/register}" th:object="${member}" method="post" id="reg">
                <h2>Member Registration</h2>
                <p>Enforces annotation-based constraints defined on the model class.</p>

                <div class="fields">
                    <div class="field-row">
                        <label for="name">Name:</label>
                        <input type="text" th:field="*{name}" id="name"/>
                        <span class="invalid" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                    </div>

                    <div class="field-row">
                        <label for="email">Email:</label>
                        <input type="email" th:field="*{email}" id="email"/>
                        <span class="invalid" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                    </div>

                    <div class="field-row">
                        <label for="phoneNumber">Phone #:</label>
                        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
                        <span class="invalid" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Error</span>
                    </div>
                </div>

                <p>
                    <div class="buttons">
                        <input type="submit" value="Register" class="register"/>
                        <span class="messages" th:if="${globalMessage}" th:text="${globalMessage}"></span>
                    </div>
                </p>
            </form>

            <h2>Members</h2>
            <div th:if="${#lists.isEmpty(members)}">
                <em>No registered members.</em>
            </div>

            <table th:if="${not #lists.isEmpty(members)}" class="simpletablestyle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone #</th>
                        <th>REST URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.id}">Id</td>
                        <td th:text="${member.name}">Name</td>
                        <td th:text="${member.email}">Email</td>
                        <td th:text="${member.phoneNumber}">Phone</td>
                        <td>
                            <a th:href="@{/rest/members/{id}(id=${member.id})}">/rest/members/[[${member.id}]]</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            REST URL for all members: <a th:href="@{/rest/members}">/rest/members</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div id="aside">
            <p>Learn more about Spring Boot.</p>
            <ul>
                <li><a href="https://spring.io/projects/spring-boot">Documentation</a></li>
                <li><a href="https://spring.io/">Product Information</a></li>
            </ul>
        </div>
    </div>
</body>
</html> 